<%= form_for @user do |f| %>
  
  
  <div class="form-group">
    <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname", placeholder: "Full Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
  </div>

  <div class="form-group">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label "Select a Role for User:" %> <br />
    <%= f.select(:role, options_for_select(["Trainer", "admin".capitalize!])) %>
  </div>

  <div class="actions">
    <%= f.submit "#{val} User", class: "btn btn-primary" %>
    <%= link_to "Back", :back %>
  </div>
<% end %>
